.searchBar {
    position: relative;
    top: 10px;
    width: 200px; /* Assuming this is the width of your search bar */
}

.searchDropdown {
    position: absolute;
    top: 100%;
    width: 250px; /* Assuming this is the width of your dropdown */
    left: 50%; /* Move the starting point to the center of the parent */
    transform: translateX(-50%); /* Shift it back by half of its own width */
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 2000;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}

.searchDropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s;
    border-bottom: 1px solid #e0e0e0;
}

.searchDropdown a:last-child {
    border-bottom: none;
}

.searchDropdown a:hover {
    background-color: #f5f5f5;
}



