.searchBar {
    position: relative;
}

.searchDropdown {
    position: fixed;  /* Change to fixed positioning */
    width: 250px;  /* Set a fixed width for the dropdown */
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 2000;  /* Increase z-index to ensure dropdown appears over other elements */
    border-radius: 4px;  /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    max-height: 200px;  /* Set a max height */
    overflow-y: auto;  /* Allow scrolling if there are many results */
}

.searchDropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s;
    border-bottom: 1px solid #e0e0e0;  /* Add this line for the grey border */
}

.searchDropdown a:last-child {
    border-bottom: none;  /* Remove the border for the last item */
}


.searchDropdown a:hover {
    background-color: #f5f5f5;
}

