.commentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.commentProfilePic{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.commentHeader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.commentUsername {
    font-weight: bold;
    color: #333;
}

.commentBody {
    margin-bottom: 10px;
}

.commentReactions {
    display: flex;
    justify-content: end;
    gap: 10px; /* Space between the buttons */
}

.commentReactions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.comment {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.replyButton { 
    margin-top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
    text-decoration: underline;
    align-items: end;
    width: 100%;
    margin-left: 10px;
}

.replies {
    margin-left: 1.5em; /* Indentation for replies */
}

#replyInput {
    width: 85%;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.replyProfilePic {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.replyUsername {
    font-weight: bold;
    color: #333;
}



.reply {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 10px;
    border-bottom: #d1d1d1 solid 1px;
}

#commentsDropDownId {
    margin-left: 700px;
} 

#commentCustomReactions {
    margin-left: 600px;     
}

.replyButton:hover {
    color: #121212;
    background-color: #eaeaea;
}

.replyFormContainer {
    border-top: 2px solid #ccc;
    display: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
    padding-top: 40px; 
    gap: 10px;
}
  
.replyFormContainer form {
    display: flex;
    align-items: right;
    gap: 10px;   
}

.replyPhoto {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-right: 10px;
    padding-left: 10px;
    margin-left: 50px;
}


