.commentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.commentProfilePic{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.commentHeader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.commentUsername {
    font-weight: bold;
    color: #333;
}

.commentBody {
    margin-bottom: 10px;
}

.commentReactions {
    display: flex;
    gap: 10px; /* Space between the buttons */
}

.commentReactions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.comment {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.replyButton { 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
    text-decoration: underline;
    align-items: end;
    width: 12%;
    margin-left: 500px;
}

.replies {
    margin-left: 1.5em; /* Indentation for replies */
}

#replyInput {
    width: 85%;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* img.commentProfilePicImg {
    border-radius: 50%;
} */



