#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;  /* Ensure the background is below the content */
}

#modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; 
  background-color: white;
  padding: 20px;     
  border-radius: 5px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1001;   
  width: 30%;  
  height: 60%;
  max-width: 500px;  /* Increase this value if needed */
}


  