/* NotFound.css */
.bigWhiteText {
    color: rgb(0, 0, 0);
  }
  
  .bigWhiteText h1 {
    color: rgb(0, 0, 0);
    font-size: clamp(2rem, 4vw, 5rem); /* min-size, preferred-size based on viewport, max-size */
    display: flex;
    justify-content: center;
  }
  
  .bigWhiteText p {
    color: rgb(0, 0, 0);
    font-size: clamp(2rem, 4vw, 5rem); /* min-size, preferred-size based on viewport, max-size */
    display: flex;
    justify-content: center;
  }
  