
.app {
    margin-top: 0;
    padding-top: 0;
}


.layoutContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-top: 0; /* Center the container */
    font-family: Arial, sans-serif;
}

.homepage-button-container, .PostContainer {
    width: 100%;
}

.homepage-button-container, .PostContainer {
    box-sizing: border-box;
}

.HomePageHeader h1 {
    font-family: Arial, sans-serif; /* This might be redundant if the parent already uses this font */
    font-size: 20px; /* Adjust to match the button font size */
    color: #000000; /* Adjust to match the button text color */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}


.homepage-button-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d1d1; /* Gray border */
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.homepage-button-container:hover {
    background-color: #f4f4f4; /* Light gray background for hover effect */
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    padding-left: 10px;
}

.button-text {
    background-color: #f1f1f1; 
    color: #b5b4b4;
    padding: 12px 12px;
    border-radius: 100px;
    font-size: 20px;
    flex-grow: 1; /* This allows the button-text to take up remaining space */
    display: flex;
    align-items: left;
    justify-content: left;
}





