.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh; /* taking up full viewport height */
    align-items: center; /* centers children horizontally */
}

.HomePageHeader {
    color: rgb(0, 0, 0);
    font-size: clamp(2rem, 4vw, 5rem);
    flex: 0 0 auto; /* this means the header won't grow or shrink */
    margin-top: 100px;
}

.postsContainer {
    flex: 1 0 auto; /* previously set, will take up the remaining space */
    overflow-y: auto; /* makes it scrollable */
    width: 80%; /* using a percentage of the parent's width for some padding effect */
    padding: 10px; 
    background-color: #f6f8fa; /* light grayish-blue background */
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
    margin: 20px 0; /* top and bottom margin */
}

.postContainer {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 10px 0;
    background-color: white;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.postContainer:hover {
    transform: translateY(-5px); /* slight lift effect */
    box-shadow: 0 6px 12px rgba(0,0,0,0.1); /* enhanced shadow on hover */
}


.postBody {
    color: #000000;
    line-height: 1.7;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.postProfilePic {
    width: 50px; /* This sets the width of the image, adjust as needed */
    height: 50px; /* Setting the height for uniformity */
    border-radius: 100%; /* This makes the image round */
    object-fit: cover; /* Ensures that the image covers the set width and height without distortion */
    margin-right: 15px; /* A little space between the image and the post title/content */
    float: left; /* This ensures the image stays on the left of the content */
    border: 1px solid #e0e0e0;
}

.fa-solid.fa-user-circle {
    font-size: 50px; /* This matches the width and height we set for the profile picture */
    float: left; /* This ensures the icon stays on the left of the content */
    margin-right: 15px; /* A little space between the icon and the post title/content */
}

.postContainer::after {
    content: "";
    display: table;
    clear: both;
}

.comment {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    border: 1px solid red;   /* Temporary styling */
    background-color: yellow; /* Temporary styling */
}




