
.postContainer {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.postProfilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make the image circular */
    margin-right: 10px;
}


.postHeader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make the image circular */
    margin-right: 10px;
}


.userName {
    font-weight: bold;
    color: #333;
}

.postUsername {
    font-weight: bolder;
    color: #333;
}

.postBody {
    margin-bottom: 10px;
}

/* Main reactions container */
.customReactions {
    position: relative; /* Ensures the dropdown is positioned relative to this container */
    display: flex;
    align-items: center;
    width: auto;
    max-width: 45px;
}

/* Main reactions button */
.customReactionsButton, .customReactionOption {
    background-color: #f7f7f7; /* Light background */
    border: 1px solid #d1d1d1;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
    width: auto;
    max-width: 50px;
}

.customReactionsButton {
    margin-left: 5px; /* Spacing between emoji buttons */
    /* margin-right: 5px; */
}

.customReactionsButton:hover, .customReactionOption:hover, 
.customReactionsButton.reacted, .customReactionOption.reacted {
    background-color: lightblue;
}

/* Dropdown styles */
.customReactionsDropdown {
    right: 100%;
    display: flex;
    /* justify-content: fle; */
    top: 0; /* Align to the top edge of the customReactionsButton */ /* Start immediately to the right of the customReactionsButton */
    /* Initially hidden */
    position: absolute; 
    width: auto; /* Let it adjust based on content width */
     /* Optional: small gap between the main button and dropdown */
    /* transition: visibility 0.3s, opacity 0.3s; */
    display: flex;

}



.customReactions:hover .customReactionsDropdown {
    /* visibility: visible; */
    display: flex;
    opacity: 1;
}

/* Dropdown option styles */
.customReactionOption {
    display: none;  /* Initially not displayed */
}

.customReactions:hover .customReactionsDropdown .customReactionOption {
    display: block;  /* Display when `.customReactions` is hovered */
}

.customReactions:hover .customReactionsDropdown .customReactionOption:hover {
    background-color: #f7f7f7; /* Highlight on hover */
}

.reacted {
    color: lightblue;
}

.customReactionsButton.reacted {
    background-color: lightblue !important;
    color: white; /* Assuming you want the emoji to be white against the light blue background */
}

.customReactionsButton, .customReactionOption[data-reaction="like"] {
    z-index: 1; /* this ensures that the overlapping 'like' button in the dropdown stays on top */
}
.customReactionsDropdown .customReactionOption {
    pointer-events: none;
}
.customReactions:hover .customReactionsDropdown .customReactionOption {
    pointer-events: auto; /* Re-enable when hovered */
}

.customReactionOption {
    margin-left: 5px; /* Spacing between emoji buttons */
}


.postActions {
    display: flex; 
    justify-content: flex-end;          /* Use flexbox to lay out content */    /* Center items vertically */
    margin-top: 10px;        /* Add some space between this and post content */
    gap: 10px;               /* Gap between Comment button and Reactions */
}

.commentActions {
    border-top: 2px solid #ccc;
    display: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
    padding-top: 40px; 
}

.commentInput {
    width: 85%;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.uploadIconLabel {
    cursor: pointer;
    width: 60px;
    border-radius: 100%; 
    background: #f7f7f7; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* This is crucial for the input overlay to work */
    height: 60px
}

.hiddenFileInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}




.commentActions form {
    display: flex; 
    align-items: right;
}

.commentInput {
    margin-right: 10px; 
}

.commentButton {
    margin-left: 10px;
}

.commentForm {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
