.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: #ffffff;
    height: 80%;
}

.logInForm {
    display: flex; /* Use flex instead of column */
    flex-direction: column;
    justify-content: space-evenly; /* Distribute space evenly along the vertical axis */
    height: 100%;
    box-shadow: none;
    align-items: center; /* Center horizontally within the form element */
    width: 100%;
}


.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: #f5f5f5;
}

.input-container input:focus {
    border-color: #4CAF50;
    background-color: white; 
}

.input-container label {
    position: absolute;
    top: 50%;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    color: darkgray;
    pointer-events: none;
    background-color: transparent;
    font-size: 16px;
    transform: translateY(-50%);
}

.input-container input:not(:focus):placeholder-shown + label {
    top: 50%;         
    left: 20px;       
    color: lightgray;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -5px;
    font-size: 12px;
    color: grey;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
}

button {
    background-color: rgb(184, 236, 81);;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
}

button:hover {
    background-color: #8BEB63;
}

h1, label {
    font-family: "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

label {
    font-weight: 500;
}

ul {
    color: red;
    padding-left: 0;
    list-style-type: none;
}

.signup-link {
    font-size: 14px;
    text-align: center;
    font-weight: bolder;  
}

.signup-link div {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 5px;
}

.signup-link div:hover {
    text-decoration: underline;
}

#credential-input, #password-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.demo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .login-form-container {
        padding: 5%;
    }
    form {
        width: 100%;
    }
}

.or-separator {
    position: relative;
    text-align: center;
    font-size: 16px; /* Adjust based on your design */
    line-height: 20px; /* Adjust based on your design */
    background: linear-gradient(to right, black 33%, transparent 33%, transparent 66%, black 66%); 
    background-size: 3px 1px; 
    background-repeat: repeat-x;
    background-position: center;
}

.or-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px; /* Adjust based on your design */
    line-height: 0px; /* Adjust based on your design */
    position: relative;
    width: 100%;  /* Ensure it takes full width */
    color:rgb(159, 156, 156);
    font-weight: bold;
}

.or-separator::before,
.or-separator::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: calc(50% - 25px); /* Assuming "or" takes up roughly 40px. Adjust if needed */
    background-color: rgb(196, 196, 196); /* Your desired color */
    transform: translateY(-50%);
}

.or-separator::before {
    left: 0;
}

.or-separator::after {
    right: 0;
}


.login-form-container {
    overflow-y: auto;  /* If content overflows, it will be scrollable */
}








