/* This ensures that any element inside the body takes up the full height of the viewport */
html, body, #root, .app-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    background-size: cover;
    background-repeat: no-repeat;
}





.app-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue, "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-base); 
    background-size: cover;
    padding-top: 100px; 

}



.signup-form-container {
    max-width: 400px; /* or whatever max width you want */
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Distribute space evenly along the vertical axis */
    height: 80%;
    align-items: center; /* Center horizontally within the form element */
}




.signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribute space evenly along the vertical axis */
    height: 100%; /* Make the form take full height within its container */
    box-shadow: none;
    align-items: center; /* Center horizontally within the form element */
    width: 100%;
}


html {
    margin: 0 0 0 0; /* Adjust the value (-8px) as needed */
    padding: 0;
    height: 100%;
}

h1 {
    font-family: Arial, sans-serif; /* Use the generic "cursive" value to apply a cursive font */
    font-size: 2em; /* Use the rem value to scale according to user preference */
    font-weight: bolder;
}

#logo {
    position: absolute;
    top: 80px;
    left: 0;
    margin: 0 0 0 20px; /* Adjust the margin as needed */
}

#email-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%
}

#username-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

#phone-number-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

#password-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;  
}

.login-link div {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 5px;
}

.login-link div:hover {
    text-decoration: underline;
    font-weight: bolder;  
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 80%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.input-container input {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: #f5f5f5;
}
.input-container input:focus {
    border-color: #4CAF50;
    background-color: white; 
}
.input-container label {
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    color: darkgray;
    pointer-events: none;
    background-color: transparent;
    font-size: 16px;
    transform: translateY(-60%);
    left:0;
}
.input-container input:not(:focus):placeholder-shown + label {           
    color: lightgray;
}
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    font-size: 12px;
    color: grey;
}

button {
    font-weight: bolder;
    display: flex;
}

.signup-form-container {
    min-height: 400px;  /* You can adjust based on the smallest acceptable height */
    overflow-y: auto;  /* If content overflows, it will be scrollable */
}

.error-container {
    display: none;
    flex-direction: column;  /* ensures errors are stacked vertically */
    align-items: center;
    margin-bottom: 20px; /* Space below the error messages */
}

.error-item {
    background-color: #f8d7da; /* light red background */
    color: #721c24; /* dark red text color */
    border: 1px solid #f5c6cb; /* border color */
    border-radius: 4px; /* rounded corners */
    padding: 5px 10px; /* space around the text */
    margin: 5px 0; /* vertical spacing between error messages */
    font-size: 14px; /* adjust font size if needed */
    text-align: center;
    width: 100%; /* takes full width of the container */
    max-width: 300px; /* you can adjust this value based on the maximum width you'd like for error messages */
}

.error-container.active {
    display: flex;
}


