.profile-dropdown {
  position: absolute;
}

ul {
  display: flex;
  justify-content: center;  /* This will center the items horizontally */
  align-items: center;      /* This will center the items vertically */
  position: relative;       /* This allows for the logo to be positioned absolutely relative to the ul */
  height: 60px;             /* Arbitrary height, you can adjust as per your design needs */
}

li {
  display: flex;
  align-items: center;
}


button {
  margin-left: auto; /* Push the button to the right */
}

.logo {
  background-image: url('../../assets/localVoicesLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 50px;
  display: inline-block;
  position: absolute;
  left: -150px; /* distance from the left margin */
  top: 10px; /* you can adjust this if you want to position it further down */
}

