.profile-button-container {
  position: relative;
}
.profile-dropdown {
  position: absolute;
  top: 100%;  /* Position it right at the bottom of the button */
  left: 0;
  width: auto;
  display: flex;
  flex-direction: column;  /* To stack the list items vertically */
  align-items: flex-start;  /* Align items to the start (left for LTR languages) */
  z-index: 10;  /* To ensure the dropdown appears on top of other elements */
  height: auto;  /* Let it grow with content */
}
.profile-dropdown li {
  flex-direction: row;
  padding: 8px 12px;  /* Add some padding around each item */
  white-space: nowrap;  /* Ensure text doesn't wrap to the next line */
}

.profile-dropdown li:hover {
  background-color: #e9e9e9;  /* Some hover effect for better UX */
}


ul {
  display: flex;
  justify-content: center;  /* This will center the items horizontally */
  align-items: center;      /* This will center the items vertically */
  position: relative;       /* This allows for the logo to be positioned absolutely relative to the ul */         /* Arbitrary height, you can adjust as per your design needs */
  margin: 0;
  height: 60px;
  z-index: 10;
  position: absolute;  /* Adjust this value to push the navbar down from the top */
  width: 100%;
}

ul.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
  /* any other styles you want for this condition */
}

ul.white {
  background-color: transparent;
  /* any other styles you want for this condition */
}

li {
  display: flex;
  align-items: center;
}


.logo {
  background-image: url('../../assets/localVoicesLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 50px;
  display: inline-block;
  position: absolute;
  left: -150px; /* distance from the left margin */
  top: 0; /* distance from the top margin */
}

li.navbar-button-container {
  flex-grow: 1;
}

button.navbar-login-button {
  margin-left: auto;
  padding: 5px 15px; /* Adjust as needed */
  height: auto;
  border: none;
  background-color: #A2FF7A;
  color: #000603;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}

li:not(.navbar-button-container) {
  flex-shrink: 0; /* Don't allow these to shrink */
}

.navbar-login-button {
  margin-left: auto;
}

li.navbar-button-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
}

li.navbar-button-container a {
  text-decoration: none;
}

.logout-button-container {
  position: absolute;
  top: 10px;  /* Adjust this value as per your preference */
  right: 10px;  /* Adjust this value to provide some space from the right edge */
}
